<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="post">
  <label>Pet's Name:
    <input type="text" name="pet[name]" value="<%=@pet.name%>" id="pet_name">
  </label>

  <br>
  <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%= owner.id %>" <%='checked' if @pet.owner.name == owner.name %> id="<%= owner.id %>"><%= owner.name %></input>
  <% end %>
  <br><br>
    <label>and/or, create a new pet:</label>
  <br>
  <br>
  <label>name:</label>
    <input  type="text" name="owner[name]" id="owner_name"></input>
    <br>
  <input type="submit" name="" value="Update Pet" id="submit">
</form>
